# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore package lock files
package-lock.json
yarn.lock
package.json